header{
    width: 960px;
    height: 50px;
    margin: auto;
}
.header-li{
    float: left;
    list-style: none;
    width: 120px;
}
.header-li a {
    display: block;
    width: 100px;
    margin: auto;
    text-decoration: none;
}